<!DOCTYPE html>
<html>
<head>
  
    <%= render 'static_pages/components/headers' %>
    
    <%= render 'static_pages/signup/headers/mixpanel', locals: {mixpanel_homepage_key: @mixpanel_homepage_key} %>

    <%= render 'static_pages/signup/headers/libraries' %>
    
    <%= render 'static_pages/components/favicon' %>

    <!-- our scripts -->
    <script type="text/javascript" src="/js/validations.js"></script>
    <script type="text/javascript" src="/js/helpers.js"></script>
    <script type="text/javascript" src="/js/signup.js"></script>


    <style>
        ul#navbar-header {
            background-color: #59567F;
        }
    </style>

</head>

<body id="override">
  <!-- navbar -->

  <%= render 'static_pages/signup/modals/find-school' %>
  <%= render 'static_pages/signup/modals/school-info' %>
  <%= render 'static_pages/signup/modals/signature' %>

  <%= render 'static_pages/signup/modals/success' %>
  <%= render 'static_pages/signup/modals/get-app', locals: {subtitle_app: @subtitle_app, header_app: @header_app} %>
  <%= render 'static_pages/signup/modals/invite' %>
  <%= render 'static_pages/signup/modals/inviteFollow' %>
  <%= render 'static_pages/signup/modals/go-to-dashboard' %>
<footer>

    <script>
    </script>

</footer>
    
</body>

























