<style>
  #state {
    border: 0.5px solid gray;
    width: 100%;
    margin-bottom: 0.5em;
  }
  #page5-add-students input[name=school_name] {
    background: url(images/icons/magnifying-glass.png) no-repeat scroll 7px 7px;
    padding-left: 45px;
    background-size: 30px;
  }
  .add-student-dropdown {
    background-color: #E6F6FD;
  }
  .add-student-dropdown a:hover {
    background-color: transparent;
  }
  .student-list {
    background-color: #F5F5F5;
    margin-top: 30px;
    height: 220px;
    margin-left: -16px;
    margin-right: -16px;
    border-top: 1.5px solid #E6E6E6;
    border-bottom: 1.5px solid #E6E6E6;
    overflow-y: scroll;
  }
  .student-row {
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #F5F5F5;
    height: 40px;
    text-align: left;
    
  }
  .student-row .glyphicon {
    color: #A5A5A5;
    float: right;
    margin-top: 10px;
  }
  .header-row {
    color: #A5A5A5;
    text-decoration: bold;
  }
  .no-students-added {
    font-family: 'Karla';
    margin-top: 80px;
    color: #A5A5A5;
  }
  .submit-button-disabled {
    color: white !important;
    background-color: #A5A5A5 !important;
    cursor: default !important;
  }
</style>

      <div data-role="page" class="wrapper" id="page5-add-students">
        <%= render 'static_pages/components/navbar' %>
     
        <div data-role="main" class="body invite-teacher">

          <div class="container" style="padding-top:0em;">
            <div class="content-wrapper">
            
                <h2 class="modal-signup-heading" id="modal-signup-heading">Add Students</h2>
                <!-- <h3 class="modal-signup-heading">to add your class</h3> -->

                <form id="add-students" class="signup-form" style="position: relative"> 
                  <div class="signup-setup">
                      <div class="field" id="signup-field">
                         <label class="label">Start typing to add students</label>
                        <input name="student_name" autocomplete="off" placeholder="First and last name" class="input">
                      </div>
                  </div>

                  <!-- create the dropdown menu here -->
                  <div class="dropdown-menu add-student-dropdown" style="display: none;">
                    <a id="add-student-button" class="disabled" href="#"><p>Add students</p></a>
                  </div>


                  <div class="student-list">
                    <div class="student-row header-row">
                      <label class="label">0 Students</label>
                    </div>
                    <p class="no-students-added">No students added yet</p>
                  </div>

                  <a id="page5link" class="transition-link ui-btn web-mobile-signup-button submit-button-disabled" href="#page6-successs" data-transition="fade">
                    Done adding students
                  </a>

                  <!-- Hidden fields for form submission -->
                  <input type="hidden" name='user_id' value='<%= session[:user_id] %>'>
                  <input type="hidden" name="school_id" value="">
                  <input type="hidden" name="school_name" value="">
                  <input type="hidden" name="school_city" value="">
                  <input type="hidden" name="school_state" value="">
                  <input type="hidden" name="classroom_grade" value="">
                  <input type="hidden" name="classroom_name" value="">
                  <input type="hidden" name="signature" value="">

                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        
                  <script>
                    $(function() {
                      // honestly have no idea why this should be necessary.... but it is, trust me
                      $('#page5link').attr('href', '#page6-success');
                      var studentNames = []
                      function renderStudentRow(studentName) {
                        return '<div class="student-row"><span>' + studentName + '</span><a id="remove-row" href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></div>';
                      }


                      $('input[name="student_name"]').on('input', function() {
                        var studentName = $(this).val();
                        if (studentName == '') {
                          $('.add-student-dropdown').css('display', 'none');
                        }
                        else {
                          $('.signup-setup .field label').text('Start typing to add students');
                          $('.signup-setup .field label').css('color', 'black');
                          $('.add-student-dropdown a p').text('Add "' + studentName + '"');
                          $('.add-student-dropdown').css('display', 'block');
                        }
                        
                      });


                      $('#add-student-button').click(function() {
                        var studentName = $('input[name="student_name"]').val();
                        if (!studentName.includes(' ')) {
                          $('.signup-setup .field label').text('Last name is required. Don\'t worry, student last names are not shown in class unless you enable this in display settings');
                          $('.signup-setup .field label').css('color', 'red');
                          return;
                        }
                        var $row = renderStudentRow(studentName);
                        $('.student-list').append($row);
                        studentNames.push(studentName);
                        $('.no-students-added').css('display', 'none');
                        $('input[name="student_name"]').val('');
                        $('.add-student-dropdown').css('display', 'none');
                        $('.header-row label').text(studentNames.length + ' students');
                        $('#page5link').removeClass('submit-button-disabled');
                      });


                      $(document).on('click', '#remove-row', function() {
                        var nameToRemove = $(this).prev().text();
                        $(this).parent().remove(); // remove the row
                        var index = studentNames.indexOf(nameToRemove); 
                        studentNames.splice(index, 1);
                        if (studentNames.length == 0) {
                          $('.no-students-added').css('display', 'block');
                          $('#page5link').addClass('submit-button-disabled');
                        }
                        $('.header-row label').text(studentNames.length + ' students');
                      });


                      // when user presses enter, don't submit form, submit adding new student
                      $('#add-students').on('keyup keypress', function(e) {
                        var keyCode = e.keyCode || e.which;
                        if (keyCode === 13) {
                          if (!($('input[name="student_name"]').val() == '')) {
                            e.preventDefault();
                            $('#add-student-button').click();
                            // console.log('curval::  ' + $('input[name="student_name"]').val());
                            return false;
                          }
                        }
                        return true;
                      });


                      $(document).on('click', '#page5-add-students #page5link',function(event){
                        var ValidStatus = $("#page5-add-students #add-students").valid() && (studentNames.length > 0);
                        // console.log(ValidStatus);
                        if (ValidStatus == false) {
                            event.preventDefault();
                            event.stopPropagation();
                            mixpanel.track('invalid student list info given');
                            return false;
                        }

                        var postData = {
                          'user_id': $('#page5-add-students form#add-students').find('input[name=user_id]').val(),
                          'school_id': $('#page5-add-students form#add-students').find('input[name=school_id]').val(),
                          'school_name': $('#page5-add-students form#add-students').find('input[name=school_name]').val(),
                          'school_city': $('#page5-add-students form#add-students').find('input[name=school_city]').val(),
                          'school_state': $('#page5-add-students form#add-students').find('input[name=school_state]').val(),
                          'signature': $('#page5-add-students form#add-students').find('input[name=signature]').val(),
                          'classroom_grade': $('#page5-add-students form#add-students').find('input[name=classroom_grade]').val(),
                          'classroom_name': $('#page5-add-students form#add-students').find('input[name=classroom_name]').val(),
                          'student_names': studentNames,
                          'authenticity_token': $('#page5-add-students form#add-students').find('input[name=authenticity_token]').val(),
                        };

                        console.log("signup post data  " + postData);

                        $.ajax({
                          url: 'create_classroom',
                          type: 'post',
                          data: postData
                        }).done(function(data, statusText, xhr) {
                            console.log(data);
                            console.log('statusText is:');
                            console.log(statusText);
                            console.log(xhr);


                        });

                        var formdata = $("#page5-add-students form#add-students").serializeArray();
                        console.log(formdata);
                        var data = {};
                        $(formdata).each(function(index, obj){
                            data[obj.name] = obj.value;
                        });
                        console.log(data);
                        mixpanel.people.set(data);
                        mixpanel.track('finished freemium signup');


                      });
                    });


                  </script>
                </form>

                <!-- submit form -->
                <form id='log-into-dat-account' action='/auth/signin' method='post' data-ajax="false" style="display: none;">
                  <input type="hidden" name='username' value='<%= session[:username] %>'>
                  <input type="hidden" name='signature' value=''>
                  <input type="hidden" name='password' value='<%= session[:password] %>'>
                  <input type="hidden" name='role' value=''>

                  <!-- HERE IS THE LOCUS OF PRODUCTION -->
 <!--                  <button id="go-to-dashboard" data-ajax="false" style="font-size: 1.2em;" type="submit">
                      Log in
                  </button> -->

                  <script>
                    // I think we can uncomment this once we have a logged in interface
                    // $('#page4-find-school form#log-into-dat-account').on('submit', function(event) {
                    //   var role = $('form#choose-educator-role-form').find('input[name=role]').val();
                    //   $('form#log-into-dat-account').find('input[name=role]').val(role);
                    //   var sig = $('form#educator-signature-form').find('input[name=signature]').val();
                    //   $('form#log-into-dat-account').find('input[name=signature]').val(sig);
                    //   $('form#log-into-dat-account').submit();
                    // });
                  </script>

                </form>
                <!-- submit form -->


              </div>
          </div> <%# container %>
        </div>
      </div>
      <!-- end Modal Signup-->