<!DOCTYPE html>
<html>
<head>


  <%= render 'static_pages/components/headers' %>
  <%= render 'static_pages/homepage/headers/mixpanel', locals: {mixpanel_homepage_key: @mixpanel_homepage_key} %>
  <%= render 'static_pages/homepage/headers/libraries' %>
  <%= render 'static_pages/components/favicon' %>


  <%= stylesheet_link_tag "homepage/index" %>
  <%= stylesheet_link_tag "alert" %>
  <%= stylesheet_link_tag "teacher-form-input" %>
  <%= stylesheet_link_tag "fonts" %>
  <%= stylesheet_link_tag "main" %>


  <!-- our scripts -->
  <script type="text/javascript" src="/js/validations.js"></script>
  <script type="text/javascript" src="/js/videoModal.js"></script>
  <script type="text/javascript" src="/js/helpers.js"></script>
  <script type="text/javascript" src="/js/homepage.js"></script>

  <script type="text/javascript">

    var scroll = new SmoothScroll('a[href*="#"]');

    var scrollTarget =  isMobileDevice() ? 50 : 160;

    function highlightNav () {
      var scroll = $(window).scrollTop();
      if (scroll < scrollTarget) {
        $('.navbar').removeClass('highlighted');
      } else {
        $('.navbar').addClass('highlighted');
      }
    }

    $(document).ready(function(){
      highlightNav();
      $(window).scroll(function (event) {
        highlightNav();
      });
      $('.modal input').on('click', function () {
        $(this).focus();
      })
      // if (isMobileDevice()) {
      //   $('body').addClass('isMobile');
      // } else {
        // $('body').addClass('isDesktop');
      // }
    });
  </script>

  <script>
    mixpanel.track_links("a#case-study-link", "Case study link clicked");
    mixpanel.track('Homepage visited');

    function DemoButtonClicked() {
      mixpanel.track("Demo Button Clicked");
    }
  </script>



</head>

<body id="override">


  <!-- Notify about form submission -->
  <% if flash[:notice] %>
  <div id="alert">
    <a class="alert" href="#alert">Great! Someone from our outreach team will be in touch soon.</a>
  </div>
  <% end %>

  <!-- Notify about form submission -->
  <% if flash[:signin_error] %>
  <div id="alert">
    <a class="alert" href="#alert">Incorrect login info.</a>
  </div>
  <% end %>


  <% if flash[:freemium_permission_error] %>
  <div id="alert">
    <a class="alert" href="#alert">Your free ReadUp trial is almost ready! We'll let you know when you're off the waitlist.</a>
  </div>
  <% end %>


  <style type="text/css">
    .form-container {
      position: absolute;
      margin: 0 auto;
    }

    .section-buffer {
      display: none;
      width: 100%;
      height: 130px;
    }

    #end-no-reading {
      padding-top: 60px;
    }

    /* mobile */
    @media (max-width: 35.5em) {
      .section-buffer {
        height: 235px;
      }

      #end-no-reading {
        padding-top: 0px;
      }
    }
  </style>



  <%= render 'static_pages/homepage/navbar' %>


  <div class="splash-new">
    <div
      class="splash-container"
      style="background: url('https://s3-us-west-2.amazonaws.com/readup-now/website/new-hero.jpg')
            center
            top/cover
            no-repeat
            #3C8FCA;"
    >
      <div class="title">
        <div id="pitch" class="form-container">
          <h1>
            ReadUp scores running records for you
          </h1>
          <center>
            <h4 id="sub-pitch">
              ReadUp listens to students read and create a full running record of their reading
            </h4>
          </center>
          <%= render 'static_pages/homepage/signup_form' %>
        </div>
      </div>
    </div>
  </div>



  <div class='section-buffer'></div>

  <section class="product-display" id="end-no-reading">
    <h1 class="section-banner">Save hundreds of instructional hours</h1>
    <div class="pure-g">

      <div class="pure-u-1 pure-push-md-1-2 pure-u-md-1-2">
        <div class="product-img">
          <img src="/images/ipad-1.png" alt="">
        </div>
      </div>


      <div class="pure-u-1 pure-pull-md-1-2 pure-u-md-1-2">
        <div class="product-text">
          <h2>Running records scored for you</h2>
          <ul>
            <p><b>Save hundreds of hours</b> to spend teaching, not testing. </p>
            <p><b>See miscue analyses</b> to know the type of errors students make.</p>
            <p><b>Hear recordings</b> played back at anytime. </p>
          </ul>
        </div>
      </div>


    </div>
  </section>


  <section class="product-display" id="support-families" style="background-color: #676487; color:#ffffff;">
    <div class="pure-g" style="padding-top: 6em;">

      <div class="pure-u-1 pure-u-md-1-2">
        <div class="product-img">
          <img src="/images/ipad-2.png" alt="">
        </div>
      </div>

      <div class="pure-u-1 pure-u-md-1-2">
        <div class="product-text">
          <h2>Hassle-free data collection</h2>
          <ul>
            <p style="color:#ffffff;"><b>Track student progress</b> over the year and see reading growth. </p>
            <p style="color:#ffffff;"><b>Share with parents</b> to celebrate student gains.</p>
            <p style="color:#ffffff;"><b>See reading weaknesses</b> and get strategies to target those. </p>
          </ul>
        </div>
      </div>
    </div>
  </section>




  <h1 class="banner" id="call-to-action">Spend your time teaching, not testing.</h1>

  <p><center><b>Learn more about using ReadUp across your school.</b></center></p>



  <img class="contact-image call-to-action-image" src="https://d2yudi7y1eei74.cloudfront.net/assets/phone.png">
  <a href="mailto:team@readupnow.com?&subject=Storytime">
    team@readupnow.com
  </a>


  <%= render 'static_pages/components/footer' %>


<!-- begin olark code -->
<script type="text/javascript" async>
;(function(o,l,a,r,k,y){if(o.olark)return;
r="script";y=l.createElement(r);r=l.getElementsByTagName(r)[0];
y.async=1;y.src="//"+a;r.parentNode.insertBefore(y,r);
y=o.olark=function(){k.s.push(arguments);k.t.push(+new Date)};
y.extend=function(i,j){y("extend",i,j)};
y.identify=function(i){y("identify",k.i=i)};
y.configure=function(i,j){y("configure",i,j);k.c[i]=j};
k=y._={s:[],t:[+new Date],c:{},l:a};
})(window,document,"static.olark.com/jsclient/loader.js");
/* Add configuration calls below this comment */
olark.identify('9084-375-10-8744');</script>
<!-- end olark code -->


</body>

</html>