<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if ENV["HMR"] == "1" %>
      <%= javascript_include_tag "http://localhost:8080/hmr-bundle.js" %>
    <% else %>
      <%= stylesheet_pack_tag('vendor-bundle',
                              media: 'all',
                              'data-turbolinks-track': true) %>

      <%= stylesheet_pack_tag('app-bundle',
                              media: 'all',
                              'data-turbolinks-track': true) %>

      <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true) %>
      <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true) %>
    <% end %>

  </head>

  <body>
    <%= yield %>

  </body>
</html>
