<!DOCTYPE html>
<html>
  <head>

  <!-- Maybe be repeating this code from _headers.erb  -->
<title>ReadUp | Running records scored for you</title>
<meta name="description" content="ReadUp listens to elementary students read and creates a full running record for you with miscue analysis, accuracy, fluency rate, and comprehension.">
  <!-- END Maybe be repeating this code from _headers.erb  -->

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'homepage/index', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'main', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'homepage/helpers', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'vendor/smooth-scroll', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

     <!-- Load jQuery and  validtions plugin -->

    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/additional-methods.js"></script>
    <%= javascript_include_tag 'homepage/validations', 'data-turbolinks-track': 'reload' %>

    <!-- pure -->
    <!-- <link rel="stylesheet" href="/stylesheets/imports/pure-min.css"> -->
    <link rel="stylesheet" href="/stylesheets/imports/pure-min.css">


    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/grids-responsive-min.css">
    <!--<![endif]-->


    <link rel="stylesheet" href="/stylesheets/pure-push-pull.css" type="text/css" />


    <%= render 'homepage/components/favicon' %>




    <!-- start Mixpanel -->
    <script type="text/javascript">
      (function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
      0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
      mixpanel.init(<%= ENV['MIXPANEL_TOKEN'] %>);
    </script>
    <!-- end Mixpanel -->



  </head>

  <body>

    <!-- note: these flashes were left over from the birdv days. idk if we really want them -->
    <% if flash[:notice] %>
      <div id="alert">
        <a class="alert" href="#alert">Great! Someone from our outreach team will be in touch soon.</a>
      </div>
    <% end %>

    <% if flash[:signin_error] %>
      <div id="alert">
        <a class="alert" href="#alert">Incorrect login info.</a>
      </div>
    <% end %>

    <% if flash[:freemium_permission_error] %>
      <div id="alert">
        <a class="alert" href="#alert">Your free ReadUp trial is almost ready! We'll let you know when you're off the waitlist.</a>
      </div>
    <% end %>

    <!-- hi! main content injected here :) -->
    <%= yield %>

    <!-- Begin Intercom code  -->
      <script>
        window.intercomSettings = {
          app_id: "eleeabmi"
        };
      </script>
      <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/eleeabmi';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!-- End Intercom code  -->


  </body>

  <div class="content-container">
    <footer class="footer">
      <div class="footer--container  container---full">
      <nav class="footer--nav">
        <a class="footer--nav--link footer--nav--link---terms-privacy" href="/privacy">
          Terms &amp; Privacy </a>
        <a class="footer--nav--link" href="/student_dashboard/#/story/demo">
          Try Demo
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com">
          Email Us
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com">
          Request Info
        </a>
        <a class="footer--nav--link" href="mailto:careers@readupnow.com">
          Jobs
        </a>
        <a class="footer--nav--link" href="/privacy">
          Trust &amp; Safety
        </a>
        <a class="footer--nav--link" href="mailto:team@readupnow.com" target="_blank">
          Support
        </a>
      </nav>
      </div>

      <!-- smooth scroll init! -->
      <script type="text/javascript">
        var scroll = new SmoothScroll('a[href*="#"]');
        console.log(scroll);
      </script>
      
    </footer>
  </div>


</html>
