<!DOCTYPE html>
<html style="height: 100%;">
  <head>


    <title>Readup</title>
    
<!--     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 -->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "https://use.fontawesome.com/d79995f506.js" %>

    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" %>

    <%= stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.min.css', media: 'all', 'data-turbolinks-track': 'reload' %>


    <% if ENV["HMR"] == "1" %>
      <%= javascript_include_tag "http://localhost:8080/hmr-bundle.js" %>
    <% else %>

      <%= stylesheet_pack_tag('app-bundle',
                              media: 'all',
                              'data-turbolinks-track': true) %>

      <%= javascript_pack_tag('vendor-bundle', 'data-turbolinks-track': true) %>
      <%= javascript_pack_tag('app-bundle', 'data-turbolinks-track': true) %>


    <% end %>

  </head>

  <body style="margin: 0px; height: 100%">
    <%= yield %>



    <!-- Begin Intercom code  -->
      <script>
        window.intercomSettings = {
          app_id: "eleeabmi"
        };
      </script>
      <script async>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/eleeabmi';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
    <!-- End Intercom code  -->

  </body>
</html>
